.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: #37ABFF;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;

}

.navigation .spacer {
    flex-grow: 1;
    }

.navigation a {
    text-decoration: none;
    display: block;
}

.navigation a:not(.logo) {
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #2575C2;
}

.circle{
    background: #59B9FF;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-self: center;
}

.circle a:hover {
    background: #2575C2;
    border-radius: 50%;

}

.logo{
    font-size: 24px;
}

.aside {
    background: #EDEDED;
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}

.menu a {
    text-decoration: none;
    display: block;
    color: black !important;
}

.menu a:not(.logo) {
    padding: 1em;
    color: white;
}

.menu a:hover {
    background: darkgray;
}

.main {
    text-align: left;
    background: aliceblue;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background: aliceblue;
}

.flex-item__card {
    background: #F3F3F3;
    padding: 10px;
    width: 150px;
    height: 200px;
    margin-top: 10px;
    line-height: 150px;
    text-align: center;
    box-shadow: 0 0 5px;
}

.footer {
    background:  #3C3C3C;
}

.footer1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}

.footer1 a {
    text-decoration: none;
    display: block;
}

.footer1 a:not(.logo) {
    padding: 1em;
    color: white;
}

.footer1 a:hover {
    background: #343434;
}

.footer1 .spacer {
    flex-grow: 1;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside   { order: 1; }
    .main    { order: 2; }
    .footer  { order: 4; }
}

.css-grid {
    padding: 0 1rem;
}

.css-grid__grid {
    width: 100%;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    margin-bottom: 1rem;
}

.css-grid__item {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: .0625rem solid #f0f0f0;
    border-top: .0625rem solid #f0f0f0;
    display: -webkit-box;
    display: inline-flex;

}

.css-grid__item--card{
    padding: 10px;
    width: 200px;
    height: 300px;
    margin-top: 10px;
    line-height: 150px;
    text-align: center;
    box-shadow: 0 0 5px;
    background:  #EDEDED;

}

.css_grid__grid img{
    width: 100%;
    height: 45%;
    display: block;
    align-self: start;
}

.css-grid__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    text-align: center;


}








